.post{
    /* width: 700px; */
    /* left: 30%; */
    object-fit: contain;
    min-width: 500px; 
    /* max-width: 600px;  */
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 45px;
}

.post__image{
  width: 100%;
  display: flex;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

}

.post__text{
    font-weight: normal;
    padding: 20px;
}

.post__header{
    object-fit: contain;
    display: flex;
    align-items: center;
    padding: 20px;
}

.post__avatar{
    margin-right: 10px;
}

.post__commentBox{
    display: flex;
    margin-top: 10px;
}

.post__input{
    flex: 1;
    width: auto;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.post__button{
    flex: 0;
    padding: 10px;
    border-top: 1px solid lightgray;
    color: #6082a3;
    background-color: transparent;
}

.post_button{
    flex: 0;
    object-fit: contain;
    left: auto;
    border-top: 1px solid lightgray;
    color: #6082a3;
    background-color: transparent;
}

.post__comments{
    padding: 20px;
}